@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="cesar">
    <a href="/Home/CaesarCipher">Przejdź do szyfru Cezara</a>
    </div>
    <div class="polybius">
    <a href="/Home/PolybiusCipher">Przejdź do szyfru Polibiusza</a>
    </div>

</div>
