@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Home/CaesarCipher">Przejdź do szyfru Cezara</a>
    <a href="/Home/PolybiusCipher">Przejdź do szyfru Polibiusza</a>

</div>
